<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Elite_system-20200108104156.mdf;Initial Catalog=aspnet-Elite_system-20200108104156;Integrated Security=True" providerName="System.Data.SqlClient" />-->

		<!--Local-->
		<add name="CONN" connectionString="Data Source=.;Initial Catalog=DB_A5D8AE_EliteSystem;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
		<add name="CustomMembershipEntities" connectionString="data source=.;initial catalog=DB_A5D8AE_EliteSystem;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

		<!--SmarterASp.NET-->
		<!--<add name="CONN" connectionString="Data Source=SQL5033.site4now.net;Initial Catalog=DB_A5D8AE_EliteSystem;User Id=DB_A5D8AE_EliteSystem_admin;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="CustomMembershipEntities" connectionString="Data Source=SQL5033.site4now.net;Initial Catalog=DB_A5D8AE_EliteSystem;User Id=DB_A5D8AE_EliteSystem_admin;Password=P@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->


		<!--Godaddy-->
		<!--<add name="CONN" connectionString="Data Source=148.72.232.168;Initial Catalog=EliteSystem;User ID=Rami;Password=P@ssw0rd" providerName="System.Data.SqlClient"/> -->
		<!--<add name="CustomMembershipEntities" connectionString="data source=148.72.232.168;initial catalog=EliteSystem;user id=Rami;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/> -->
	</connectionStrings>
	<system.web>
		<!--rami-->
		<trust level="Full" originUrl="https://www.elitemcm.com/" />
		<customErrors mode="Off" />
		<roleManager enabled="true">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="CONN" applicationName="/Elite_system" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/Elite_system" />
			</providers>
		</roleManager>
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" name=".ASPNETAUTH" protection="All" path="/" timeout="20" />
		</authentication>
		<!--rami-->
		<httpHandlers>
			<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		</httpHandlers>
		<authorization>
			<!--<deny users ="*" />-->
			<allow users="*" />
		</authorization>
		<compilation debug="true" targetFramework="4.5.2">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<httpRuntime targetFramework="4.5.2" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
				<add namespace="Microsoft.AspNet.Identity" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
		<membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CONN" enablePasswordRetrieval="False" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" applicationName="Elite_system" />
			</providers>
		</membership>
		<profile>
			<providers>
				<!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
				<clear />
			</providers>
		</profile>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<!--rami-->
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Claims.aspx">
		<system.web>
			<authorization>
				<allow roles="Claims" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Checks.aspx">
		<system.web>
			<authorization>
				<allow roles="Enter_Checks" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Codes.aspx">
		<system.web>
			<authorization>
				<allow roles="Codes" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Companies.aspx">
		<system.web>
			<authorization>
				<allow roles="Companies" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Employees.aspx">
		<system.web>
			<authorization>
				<allow roles="Employees" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Listing_Bonds.aspx">
		<system.web>
			<authorization>
				<allow roles="ListingBonds" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Mail.aspx">
		<system.web>
			<authorization>
				<allow roles="Mail" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Main_Banks.aspx">
		<system.web>
			<authorization>
				<allow roles="MainBanks" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Medical_Types.aspx">
		<system.web>
			<authorization>
				<allow roles="MedicalTypes" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Sub_Banks.aspx">
		<system.web>
			<authorization>
				<allow roles="SubBanks" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Sub_Companies.aspx">
		<system.web>
			<authorization>
				<allow roles="SubCompanies" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Receipt.aspx">
		<system.web>
			<authorization>
				<allow roles="Receipt" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Rep_Log.aspx">
		<system.web>
			<authorization>
				<allow roles="System_Log_Report" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Rpt_Checks2.aspx">
		<system.web>
			<authorization>
				<allow roles="Checks_Report_Contract" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Rpt_Claims.aspx">
		<system.web>
			<authorization>
				<allow roles="Claims_Report_Company" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Rpt_Claims2.aspx">
		<system.web>
			<authorization>
				<allow roles="Claims_Report_Medical" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Rpt_Checks.aspx">
		<system.web>
			<authorization>
				<allow roles="Checks_Report" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="RefundedCheckes.aspx">
		<system.web>
			<authorization>
				<allow roles="RefundedCheckes" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="AssignCheck.aspx">
		<system.web>
			<authorization>
				<allow roles="AssignCheck" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="DeliveredChecks.aspx">
		<system.web>
			<authorization>
				<allow roles="DeliveredChecks" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<!--********-->
	<location path="Accounting_Tree.aspx">
		<system.web>
			<authorization>
				<allow roles="Accounting_Tree" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Accounting_Tree_Details.aspx">
		<system.web>
			<authorization>
				<allow roles="Accounting_Tree_Details" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Rpt_Listing1.aspx">
		<system.web>
			<authorization>
				<allow roles="Bond_Report" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Rpt_Account.aspx">
		<system.web>
			<authorization>
				<allow roles="Account_Report" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Rpt_Mails.aspx">
		<system.web>
			<authorization>
				<allow roles="Mails_Report" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Rpt_Checks3.aspx">
		<system.web>
			<authorization>
				<allow roles="All_Checks_Report" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Procedures.aspx">
		<system.web>
			<authorization>
				<allow roles="Procedures" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Medical_Types_Check.aspx">
		<system.web>
			<authorization>
				<allow roles="Medical_Types_Check" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Rpt_Claims3.aspx">
		<system.web>
			<authorization>
				<allow roles="Rpt_Claims3" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Rpt_GetContractingValue.aspx">
		<system.web>
			<authorization>
				<allow roles="Rpt_GetContractingValue" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Rpt_Stamps.aspx">
		<system.web>
			<authorization>
				<allow roles="Rpt_Stamps" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Rpt_MedicalTypesWithNoClaims.aspx">
		<system.web>
			<authorization>
				<allow roles="Rpt_MedicalTypesWithNoClaims" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
		<location path="Payment_Of_Claims.aspx">
		<system.web>
			<authorization>
				<allow roles="Payment_Of_Claims" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<!--rami-->
	<system.webServer>
		<!--<rewrite>
    <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
    </rules>
</rewrite>-->
		<modules>
			<!--<remove name="FormsAuthentication" />
			<remove name="ApplicationInsightsWebTracking" />-->
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
		</compilers>
	</system.codedom>
</configuration>